h1 {
	font-size: 1.5rem; // 24px
	font-weight: 300; // Light
	margin-bottom: 0.5rem;
	color: var(--white);
}

.subtitle {
	font-size: 0.75rem; // 12px
	font-weight: 300; // Light
	margin-bottom: 1.5rem;
	color: var(--white);
}

.placeholder-content {
	color: var(--white);
	opacity: 0.6;
}

:host-context(.list-view) {
	padding: 2rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
