node_modules

dist
build
.angular/cache

.git

.vscode/
.idea/
.DS_Store

*.log
npm-debug.log*

.env
.env.*

.editorconfig
.eslintrc.json
.prettierrc

Dockerfile
Dockerfile.*
.dockerignore
docker-compose.yml
README.md
