# ===========================================
# Application Environment
# ===========================================
# Valores: development, production, test
NODE_ENV=development

# Portas expostas (desenvolvimento)
APP_PORT=4200

# ===========================================
# Hosts / URLs
# ===========================================
# Usados para configurar CORS e URLs internas
API_URL=http://localhost:3000
API_HOST=localhost:3000
APP_HOST=localhost:4200
