@if(modal){
<div
	id="overlay-modal"
	[ngClass]="{
		'custom-backdrop': modal.component,
		'default-backdrop': !modal.component
	}"
	[style.--backdrop-opacity]="
		modal.component && modal.backdropOpacity !== undefined
			? modal.backdropOpacity
			: modal.component
			? 0.75
			: 0.5
	"
>
	<div
		id="modal-content"
		#modalContent
		tabindex="-1"
		[ngClass]="{ 'custom-modal': modal.component }"
	>
		@if(modal.component) {
		<ng-container
			*ngComponentOutlet="
				modal.component;
				inputs: modal.componentData || {}
			"
		/>
		} @else {
		<!-- Renderização padrão do modal -->
		<h1>{{ modal.title }}</h1>
		<p>{{ modal.description }}</p>
		}

		<div class="button-container">
			@for (button of modal.buttons; track $index) {
			<button
				(click)="button.callback?.(); modal = null"
				[ngClass]="{
					primary: button.type === 'primary',
					secondary: button.type === 'secondary',
					danger: button.type === 'danger'
				}"
			>
				{{ button.label }}
			</button>
			}
		</div>
	</div>
</div>
} @if(toast$) {
<div id="overlay-toast">
	<div id="toast-container">
		@for (toast of toast$ | async; track $index) {
		<div
			class="toast"
			[ngClass]="{ error: toast.type === 'error' }"
			[style.--animation-duration]="toast.timeout + 'ms'"
		>
			<div class="message">{{ toast.message }}</div>
		</div>
		}
	</div>
</div>
} @if(overlays.length > 0) {
<div id="overlay-notification">
	@for (overlay of overlays; track overlay.id) {
	<div
		class="notification"
		[ngClass]="{
			error: overlay.type === 'error',
			success: overlay.type === 'success',
			warning: overlay.type === 'warning',
			info: overlay.type === 'info'
		}"
	>
		@if(overlay.dismissible) {
		<button class="close-btn" (click)="dismissOverlay(overlay.id)">
			×
		</button>
		} @if(overlay.component) {
		<!-- Renderiza componente personalizado -->
		<ng-container
			*ngComponentOutlet="
				overlay.component;
				inputs: overlay.componentData || {}
			"
		>
		</ng-container>
		} @else {
		<!-- Renderização padrão -->
		@if(overlay.title) {
		<div class="title">{{ overlay.title }}</div>
		}
		<div class="message">{{ overlay.message }}</div>
		}
	</div>
	}
</div>
}
