#tags-list {
	max-height: 80vh;
	overflow-y: auto;
	border: 1px solid var(--app-text-color);
	border-radius: 4px;
	background-color: var(--app-background-color);

	.tag-item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 8px;
		border-bottom: 1px solid var(--app-text-color);
	}
}

#merge {
	position: relative;
	.cancel-button {
		position: absolute;
		top: 0;
		right: 0;
		background-color: transparent;
		border: none;
		cursor: pointer;
		color: var(--app-text-color);
		font-size: 16px;
		padding: 8px;

		&:hover {
			color: var(--primary-color);
		}
	}
	.title {
		text-align: center;
	}
}
