@defer (on timer(0)) {
	<div class="filter">
		<app-book-filter
			[initialFilters]="filterOptions"
			(filtersChange)="onFiltersChange($event)"
		/>
	</div>
} @placeholder {
	<div class="filter" style="height: 100px;"></div>
}

<div class="controller">
	<div class="mode-switch">
		<app-select
			[items]="viewModeList"
			[select]="getViewModeIndex()"
			[disabled]="isOfflineMode"
		/>
	</div>
	<div class="pages">
		@if (isLoading()) {
			@for (i of [].constructor(5); track $index) {
				<div class="placeholder"></div>
			}
		} @else {
			@for (page of pagesToShow; track page) {
				<div
					class="page"
					[class.active]="page === currentPage"
					(click)="goToPage(page)"
				>
					{{ page }}
				</div>
			}
		}
	</div>
	<div>
		<app-select [items]="selectList" [select]="selectListItem()" />
	</div>
</div>

<div id="books" [class]="bookOptions">
	@if (isLoading()) {
		@for (i of [].constructor(10); track $index) {
			<div class="placeholder"></div>
		}
	} @else {
		@for (book of books; track book.id; let i = $index) {
			<app-item-book [book]="book" [type]="bookOptions" [priority]="i < 8" />
		} @empty {
			<div class="no-books">
				<p>Nenhum livro disponível.</p>
			</div>
		}
	}
</div>

@defer (on idle) {
	<div class="controller">
		<div class="pages">
			@for (page of pagesToShow; track page) {
				<div
					class="page"
					[class.active]="page === currentPage"
					(click)="goToPage(page)"
				>
					{{ page }}
				</div>
			}
		</div>
	</div>
} @placeholder {
	<div class="controller" style="height: 100px;"></div>
}
