:host {
	padding-bottom: 10px;
}
#books {
	display: flex;
	align-items: start;
	flex-wrap: wrap;
	justify-content: center;
	padding: 20px;
	gap: 20px;
	max-width: calc(300px * 5);
	margin: auto auto;

	.placeholder {
		width: 250px;
		height: 355px;
		border-radius: 15px;
	}
}

.pages {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin: 20px 0;

	.placeholder {
		width: 60px;
		height: 60px;
		border-radius: 15px;

		&::after {
			filter: blur(1rem);
		}
	}

	.page {
		display: flex;
		align-items: center;
		justify-content: center;
		border: none;
		width: 60px;
		height: 60px;
		border-radius: 15px;
		border: 4px solid var(--app-text-color);
		cursor: pointer;
		transition: background-color 0.3s ease, color 0.3s ease;
		aspect-ratio: 1/1;
		font-size: 1.2rem;

		&.active,
		&:hover {
			background-color: var(--primary-color);
			border-color: var(--primary-color);
			color: var(--app-text-color);
			font-weight: bold;
		}
	}
}
