<header>
	<nav>
		@if (!hideLogo()) {
		<button type="button" class="menu-btn" (click)="toggleMenu.emit()" aria-label="Abrir menu">
			<app-icons name="list" size="24" />
		</button>
		<a id="logo" [routerLink]="['/']" [class.dark-theme]="isDarkTheme()">
			<app-icons name="logo" size="48" />
		</a>
		}
	</nav>
	<nav>
		<app-search />

		<div class="user-actions">
			@if (!isLoggedIn()) {
				<button type="button" class="icon-btn login-btn" aria-label="Menu do Usuário" (click)="userMenu.toggle(); $event.stopPropagation()">
					<app-icons name="user" size="32" />
				</button>
			}
			@else {
				<button type="button" class="user-btn" (click)="userMenu.toggle(); $event.stopPropagation()">
					@if (userProfile()?.profileImageUrl) {
						<div class="avatar-container">
							<img [src]="userProfile()?.profileImageUrl" alt="Avatar" class="avatar" />
						</div>
					} @else {
						<app-icons name="user" size="32" />
					}
				</button>
			}
			<app-user-menu #userMenu />
		</div>
	</nav>
</header>
