<header>
	<nav>
		@if (!hideLogo()) {
		<app-icon-button name="list" size="24px" (click)="toggleMenu.emit()" aria-label="Abrir menu" />
		<a id="logo" [routerLink]="['/']" [class.dark-theme]="isDarkTheme()" aria-label="Logo">
			<app-icons name="logo" size="48" />
		</a>
		}
	</nav>
	<nav>
		<app-search />

		<div class="user-actions">
			@if (isLoggedIn()) {
				<app-notification-menu />
			}
			@if (!isLoggedIn()) {
				<app-icon-button name="user" size="32px" (click)="userMenu.toggle(); $event.stopPropagation()" aria-label="Menu do Usuário" />
			}
			@else {
				<button type="button" class="user-btn" (click)="userMenu.toggle(); $event.stopPropagation()">
					@if (userProfile()?.profileImageUrl) {
						<div class="avatar-container">
							<img [src]="userProfile()?.profileImageUrl" alt="Avatar" class="avatar" />
						</div>
					} @else {
						<app-icons name="user" size="32" />
					}
				</button>
			}
			<app-user-menu #userMenu />
		</div>
	</nav>
</header>
