.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5rem;
	padding: 1rem;
	max-width: 1200px;
	margin: auto auto;

	.controler {
		display: flex;
		gap: 1rem;
		align-items: center;
		width: 100%;
		// background-color: var(--app-background-color);
		height: 50px;

		* {
			background-color: var(--primary-color);
			height: 100%;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 10px;
		}
		.index {
			width: 100%;
			font-size: 2.8rem;
		}
		.arrow {
			padding: 0 15px;
		}
	}
}

.pages {
	margin: auto auto;
	display: flex;
	max-width: 1200px;
	flex-direction: column;
	img {
		width: 100%;
		flex: none;
		height: auto;
		user-select: none;
		-webkit-user-drag: none;
	}
}
