@defer (when !isLoading()){
<img [src]="book.cover" class="book-background" />
<div class="book">
	<div class="book-header">
		<div class="book-cover">
			<img [src]="book.cover" />
		</div>
		<div class="book-info">
			<div class="top">
				<h1
					[class.long-title]="book.title.length > 90"
					[class.very-long-title]="book.title.length > 140"
				>
					{{ book.title }}
				</h1>
				<h6>
					{{ getAuthorNames() }}
				</h6>
			</div>
			<div class="bottom">
				<div class="caps">{{ book.totalChapters }} Capitulos</div>
				<div class="release">Lançamento {{ book.publication }}</div>
				<div class="actions">
					<app-button (click)="continueReading()" variant="primary">
						{{
							lastReadChapterId
								? 'Continue lendo'
								: 'Começar a ler'
						}}
					</app-button>
					<div class="options-wrapper">
						<button
							class="options-btn"
							(click)="
								toggleOptionsDropdown();
								$event.stopPropagation()
							"
						>
							<app-icons name="more" />
						</button>
						@if (showOptionsDropdown()) {
						<div class="options-dropdown">
							<button (click)="downloadBook()">
								<app-icons name="download" />
								<span>Baixar livro</span>
							</button>
							<button (click)="shareBook()">
								<app-icons name="share" />
								<span>Compartilhar</span>
							</button>
						</div>
						}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="book-info-plus">
		<div class="tags">
			@for(content of book.sensitiveContent; track content) {
			<span class="sensitive">{{ content.name }}</span>
			} @for(tag of book.tags; track tag.id) {
			<span class="tag" (click)="filterByTag(tag.id)">{{
				tag.name
			}}</span>
			}
		</div>
		<p class="book-description">{{ book.description }}</p>
	</div>
</div>
<app-info-book [id]="book.id" [bookBasic]="book" />
} @placeholder {
<div class="book-background placeholder-background"></div>
<div class="book">
	<div class="book-header">
		<div class="book-cover placeholder"></div>
		<div class="book-info">
			<div class="top">
				<h1 class="placeholder"></h1>
				<h6 class="placeholder"></h6>
			</div>
			<div class="bottom">
				<div class="caps placeholder"></div>
				<div class="release placeholder"></div>
			</div>
		</div>
	</div>
	<div class="book-info-plus">
		<div class="tags">
			@for (i of [].constructor(5); track $index) {
			<span class="placeholder"></span>
			}
		</div>
		<p class="book-description placeholder"></p>
	</div>
</div>
<div class="chapters">
	@for (i of [].constructor(4); track $index) {
	<div class="placeholder"></div>
	}
</div>
} @if(admin && book){
<app-aside>
	<h1><app-icons name="book" /> {{ book.title }}</h1>
	<div class="line"></div>
	<div class="actions">
		<app-button (click)="resetBook()" variant="text">Resetar</app-button>
		<app-button (click)="fixBook()" variant="text">Corrigir</app-button>
	</div>
</app-aside>
}
