<section [class.list-view]="isListView()">
	@if (!isListView()) {
		<h1>Filtros</h1>
		<p class="subtitle">Filtre os resultados que voce gostaria que aparesseesm ou nao na sua listegem de livros</p>
	}

	<div class="filter-section">
		<h2>Tags</h2>
		<app-multi-select-tags
			[options]="tagsList()"
			[(selectedIds)]="selectedTags"
			placeholderSearch="Filtrar tags..."
			[limitDisplay]="100"
			[groupSelectedAtTop]="true"
		/>
	</div>

	<div class="filter-section">
		<h2>Tipos de livros</h2>
		<app-multi-select-tags
			[options]="bookTypesList()"
			[(selectedIds)]="selectedBookTypes"
			placeholderSearch="Filtrar tipos..."
			[groupSelectedAtTop]="true"
		/>
	</div>

	<div class="filter-section">
		<h2>Conteudos sensiveis</h2>
		<app-multi-select-tags
			[options]="sensitiveContentList()"
			[(selectedIds)]="allowContentIds"
			placeholderSearch="Filtrar conteúdos..."
			[groupSelectedAtTop]="true"
		/>
	</div>
</section>
