@mixin colors() {
	--black: #000212;
	--dark-purple: #20142a;
	--dark-gray: #191a1c;
	--orange: #f18522;
	--beige: #e9e1d1;
	--white: #fdfdfd;
	--lilac: #a972ff;
	--dark-lilac: #331e65;
	--dark-red: #f12237;
	--dark-green: #157219;
	--red: #ff0000;
	--green: #00ff00;

	// Gray Scale
	--gray-100: #f8f9fa;
	--gray-300: #e0e0e0;
	--gray-400: #ccc;
	--gray-600: #888;
	--gray-700: #666;
	--gray-800: #555;
	--gray-900: #333;

	// Semantic Colors
	--yellow: #ffc107;
	--light-yellow: #fff3cd;
	--dark-yellow: #856404;
	
	--cyan: #17a2b8;
	
	--success: #28a745;
	--success-hover: #218838;
	
	--danger: #dc3545;
	--light-red: #ff4d4f;
	--soft-red: #ff6b6b;
}
