@use 'color';
@use 'color-definitions';
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: inherit;
	position: relative;
	font-family: 'Inknut Antiqua', serif;
}

:root {
	@include color-definitions.light-definitions();
	@include color.colors();

	::-webkit-scrollbar {
		width: 7px;
		background-color: var(--scrollbar-color);
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb-color);
	}
}
[data-theme='dark'] {
	@include color-definitions.dark-definitions();
}
@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		@include color-definitions.dark-definitions();
	}
}

html {
	color-scheme: light dark;
	background-color: var(--app-background-color);
	color: var(--app-text-color);
}

body {
	min-height: 100dvh;
}

@media (max-width: 768px) {
	html {
		font-size: 12px;
	}
}

.placeholder {
	background-color: rgb(from var(--gray-600) r g b / 0.25);
	position: relative;
	overflow: hidden;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: -50%;
		width: 50%;
		height: 100%;
		background: linear-gradient(
			120deg,
			transparent 0%,
			rgb(from var(--white) r g b / 0.6) 50%,
			transparent 100%
		);
		animation: light-beam-move 1.5s linear infinite;
		pointer-events: none;
		filter: blur(4rem);
	}
}

@keyframes light-beam-move {
	0% {
		left: -50%;
	}
	100% {
		left: 250%;
	}
}

markdown {
	a {
		color: var(--primary-color);
		text-decoration: underline;
	}
}
