@use 'color';
@use 'color-definitions';
@use 'mixins';

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
	color: inherit;
	position: relative;
	font-family: 'Inknut Antiqua', serif;
}

:root {
	@include color-definitions.light-definitions();
	@include color.colors();

	::-webkit-scrollbar {
		width: 7px;
		background-color: var(--scrollbar-color);
	}
	::-webkit-scrollbar-thumb {
		background-color: var(--scrollbar-thumb-color);
	}
}
[data-theme='dark'] {
	@include color-definitions.dark-definitions();
}
[data-theme='true-dark'] {
	@include color-definitions.true-dark-definitions();
}
@media (prefers-color-scheme: dark) {
	:root:not([data-theme]) {
		@include color-definitions.dark-definitions();
	}
}

html {
	color-scheme: light dark;
	background-color: var(--app-background-color);
	color: var(--app-text-color);
}

body {
	min-height: 100dvh;
}

@media (max-width: 768px) {
	html {
		font-size: 12px;
	}
}

.placeholder {
	@include mixins.skeleton-gradient-animation;
	background-color: rgba(var(--shadow-base), 0.25);
	position: relative;
	overflow: hidden;
}

.skeleton-text {
	@include mixins.skeleton-block($height: 1.2rem);
	margin-bottom: 0.5rem;
	background-color: rgba(var(--shadow-base), 0.22);

	&.title {
		width: 80%;
		height: 1.4rem;
	}

	&.subtitle {
		width: 60%;
		height: 1rem;
		background-color: rgba(var(--shadow-base), 0.15);
	}
}

markdown {
	a {
		color: var(--primary-color);
		text-decoration: underline;
	}
}
