<div class="input-container">
  <div
    class="input"
		[ngClass]="{
			label: showLabel() && (isFocused || touched() || value()),
			focused: isFocused
		}"
    >
    @if (leftIconInput()) {
      <app-icons
        [name]="leftIconInput()!"
        (click)="onLeftIconClick($event)"
        [ngClass]="{ clickable: !!leftIconClick() }"
        />
    }
    <div class="input-wrapper">
      <input
        #input
        [id]="id()"
        [type]="type() === 'password' ? passwordInputType : type()"
        [value]="value()"
        [placeholder]="!showLabel() ? placeholder() : ''"
        (input)="onInput($event)"
        (blur)="onBlur(value()); isFocused = false"
        (focus)="onFocus()"
        />
      @if (showLabel()) {
        <label
          [for]="id()"
          [ngClass]="{ ative: touched() || value(), icons: leftIconInput() }"
          >
          {{ placeholder() }}
        </label>
      }
    </div>
    @if (rightIconInput() || (type() === 'password')) {
      <app-icons
        [ngClass]="{ 'right-icon': true, clickable: !!rightIconClick() || type() === 'password' }"
        [name]="type() === 'password' ? passwordRightIcon : rightIconInput()!"
        (click)="onRightIconClick($event)"
        />
    }
  </div>
  <div class="error-messages" [style.--error-count]="errorMessages().length">
    @for (item of errorMessages(); track $index) {
      <span class="error-message">{{ item }}</span>
    }
  </div>
</div>
