@if(type == 'grid'){
<a [routerLink]="[book.id]" class="book-card grid" (contextmenu)="onContextMenu($event)">
	@if (book.cover && !imageError) {
	<img [src]="book.cover" alt="" (error)="onImageError()" />
	} @else {
	<div class="cover-placeholder">
		<app-icons name="image" />
	</div>
	}
	<div class="info">
		<span>{{ book.title }}</span>
	</div>
</a>
} @else {
<a [routerLink]="[book.id]" class="book-card list" (contextmenu)="onContextMenu($event)">
	@if (book.cover && !imageError) {
	<img [src]="book.cover" alt="" (error)="onImageError()" />
	} @else {
	<div class="cover-placeholder">
		<app-icons name="image" />
	</div>
	}
	<div class="info">
		<div>
			<span class="title">{{ book.title }}</span>
		</div>
		<span class="description">{{ book.description }}</span>
	</div>
</a>
}
